.container{
    padding:1em ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 90%;
    /*margin: 0 auto;*/
    margin-left: 9%;

}

.directorTitle{
    border-radius: 20px 0 0 20px;
    grid-area: 1 / 1 / 2 / 2;
    background: #64817d;
    /*background: rgb(139, 169, 138);*/
    text-align: center;
    padding: 0.5em;

}
.image {
    grid-area: 1 / 2 / 2 / 4;


}
.bird{
    width: 90%;
    height: 100%;
    background: rgb(130, 140, 129);
    border-radius: 0 20px 20px 0;
}
.text{
    grid-area: 1 / 2 / 2 / 3;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
}
.directorMainTitle{
    font-family: Lato;
    margin-top:70%;
    font-size: 4em;
    font-weight: lighter;
    color: #1f4034;
    text-shadow: 2px 2px #070606;
    text-transform: uppercase;
    color: #1f4034;
}
.directorName{
    font-family: Lato;
    font-size: 2em;
    color: #fca26e;
    font-weight: bold;
    text-shadow: 2px 2px #070606;


}
.description{
    padding: 0.5em;
    margin: 0.5em;
    font-size:1.2em;
    font-family: Lato;
    color: #b8b8b8;
    font-weight: lighter;
}
