@import url('https://fonts.googleapis.com/css?family=Viga');
.parent{
    top: 14%;
    left: 0;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    font-family: Lato;
    font-size: 1.5rem;
    /*box-shadow: 3px 3px 2px 2px #efefef;*/
    z-index: 9999;
    padding: 0.5em;
    background-color: #21283B;
    margin-top: 0;
}
.children{
    flex: 0 0 13%;
    text-decoration: none;
    color: #ccc;
    text-align: center;


}
.children:hover {
    color: #a0bcbf;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.logo{
    width: 2.5em;
}
@media only screen and (min-width: 350px) and (max-width: 700px){

    .parent{
        font-size: 1em;
    }
}
@media only screen and (min-width:700px) and (max-width: 1020px){
    .parent{
        font-size: 1.1em;
    }
}
@media only screen and (min-width: 1020px) {

}