.container{
    display: grid;
    position: relative;
    grid-template-columns:  repeat(3,1fr);
    grid-gap: 5em;
}
.picture{
margin-left: 2em;
    width: 80%;

}
.information{
    width: 100%;
}
.image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.positionTitle{
    color: #21283B;
    font-family: Lato;
    padding-bottom: 1.5em;
    margin-left: 2em;

}
.description{
    height: 100%;
    margin-right: 2em;
    border-radius: 10px;
    background-color: #21283B;
    padding: 1em;
    font-family: Lato;
    color: #e6f0ef;

}
/*Second Round of container*/

.containerRight{
    display: grid;
    position: relative;
    grid-template-columns:  repeat(3,1fr);
    grid-gap: 5em;

}
.pictureTwo{
grid-column: 2/3;
    margin-left: 1em;
    grid-row: 1/2;
    margin-left: 2em;
    width: 80%;

}
.ContainerInformationTwo{
    width: 100%;
    grid-column: 3/3;
    grid-row: 1/2;

}
.positionTitleTwo{
    align-items: center;
    color: #a0bcbf;
    font-family: Lato;
    padding-bottom: 1.5em;
    margin-left: 43%;
    text-shadow: 1px 1px #21283B;
}
.descriptionTwo{
    margin-right: 2em;
    border-radius: 10px;
    background-color: #e6f0ef;
    padding: 1em;
    font-family: Lato;
    text-shadow: 1px 1px #b8b8b8;
    height: 100%;

}

.lineSeparator{
    height:5px;
    width: 50%;
    background: #21283B;
    margin: 2em auto;
    border-radius: 1px;
    align-items: center;
}
@media only screen and (min-width: 350px) and (max-width: 700px) {
    .container {
        display: grid;
        position: relative;
        grid-template-columns:  repeat(1, 1fr);
        grid-gap: 2em;
    }

    .description {
        border-radius: 10px;
        margin-left: 2em;

    }

    .positionTitle {
        padding: 0.5em 0;
        margin-left: 2em;
        font-size: 1.3em;
    }

    .containerRight {
        display: grid;
        position: relative;
        grid-template-columns:  repeat(1, 1fr);
        grid-gap: 2em;
    }

    .pictureTwo {
        grid-column: 1/1;
        grid-row: 1/2;
        margin-left: 2em;
        width: 80%;
    }

    .ContainerInformationTwo {
        grid-column: 1/2;
        grid-row: 2/2;

    }
    .descriptionTwo{
        margin-left: 2em;
    }
    .positionTitleTwo{
        padding: 0.5em 0;
        margin-left: 1em;
        font-size: 1.3em;
    }
}
@media only screen and (min-width:700px) and (max-width: 1024px){
    .container{
        display: grid;
        position: relative;
        grid-template-columns:  repeat(2, 1fr);
        grid-gap: 1em;
    }
    .containerRight{
        display: grid;
        position: relative;
        grid-template-columns:  repeat(2, 1fr);
        grid-gap: 1em;
    }
    .pictureTwo {
        grid-column: 1/1;
        grid-row: 1/2;
        margin-left: 2em;
        width: 80%;
    }

    .ContainerInformationTwo {
        grid-column: 2/2;
        grid-row: 1/2;

    }
    .descriptionTwo{
        margin-left: 0;
    }
    .positionTitleTwo{
        padding: 0.5em 0;
        margin-left: 2em;
    }
    .positionTitle{
        padding: 0.5em 0;
        margin-left: 2em;
    }
}
@media only screen and (min-width: 1020px) and (max-width: 1025px){
    .title{
        font-size: 4em;
        padding: 1em 0;
    }

}