
.images{
 width: 450px;
 margin: 1em;
 -webkit-box-shadow: 0px 0px 5px 5px #000000; /* WebKit */
 -moz-box-shadow: 0px 0px 5px 5px #000000; /* Firefox */
 box-shadow: 0px 0px 5px 5px #000000;
 border-radius:15px;
}
@media only screen and (min-width: 300px) and (max-width: 350px){
 .images{
  width: 230px;

 }


}
@media only screen and (min-width: 350px) and (max-width: 700px){
 .images{
  width: 270px;

 }

}
@media only screen and (min-width:700px) and (max-width: 1020px){
 .images{
  width:370px;
 }

}
