.subtitle{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    text-decoration: none;
    list-style-type: none;

}
h2{

    font-size: 3.5em;
    font-family: Lato;
    color: #64817d;
    text-shadow: 1px 1px #b8b8b8;
    margin-left: 0.5em;
    font-weight: lighter;
    text-transform: uppercase;

}

span{
    display:inline-block;
    position: relative;
    align-items: center;
    height: 9px;
    width: 20em;
    background: #fca26e;
    border-radius: 9px;
    opacity: 1;
    top: 17%;

}

.elements{
    flex: 0 0 auto;
}
@media only screen and (min-width: 350px) and (max-width: 700px){
    .image{
        width: 7em;
        margin-bottom: 30%;
    }


}
@media only screen and (min-width:700px) and (max-width: 1200px){
    .image{
        width: 8em;
    }
}
@media only screen and (min-width: 1201px){
    .image{
        width: 9rem;
        height: auto;
    }

}
