/*Global styling */

*{
  box-sizing: border-box;
  margin:0;
}
html,
body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', "Courier Prime", Lato;
  font-size: 18px;
  line-height: 1.4;
}
> div{
  margin-top: 0;
}

h1,
h4,h3{
  font-family: Lato;
  color: #1f4034;
  line-height: 1.1;
}
h2,
h5{
  color:#64817d;
  line-height: 1.1;
}
h6{
  color:#fca26e;
  line-height: 1.1;
}


