
.parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    font-family: Lato;
    font-size: 1.4rem;
    padding: 4rem;
}
.children{
    flex: 0 0 auto;
    text-decoration: none;
    color: #1f4034;

}


.children:hover {
    color: #f5751d;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    text-decoration: black;
    border-bottom:1px solid #1f4034 ;
    z-index: 1;
}
@media only screen and (min-width: 350px) and (max-width: 700px){
    .image{
        width: 7em;
        margin-bottom: 30%;
    }
}
@media only screen and (min-width:700px) and (max-width: 1200px){
    .image{
        width: 8em;
    }
}
@media only screen and (min-width: 1201px){
    .image{
        width: 10rem;
        height: auto;
    }

}
