
.sidebarWrapper{
    position: fixed;
    width: 40%;
    max-width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    padding: 32px 16px;
    box-sizing: border-box;
    background-color: #64817d;
}
.items-sidebar{
    position: relative;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-flow: column;
    font-family: Lato;
    font-size: 1.4rem;

}

.Closed{
    display: none;
}
.Open {
    animation: openSidebar 0.8s ease-out forwards;

}

.Close {
    animation: closeSidebar 0.8s reverse forwards;

}
.Closed{
    opacity: 0;
    transform: translateX(-100%);

}

.item-sidebar{
    flex: 0 0 auto;
    text-decoration: none;
    color: #ccdcdd;
    font-size: 1.3em;
    margin: 0.5em;
    padding: 0.5em 0;

}

.item-sidebar:hover{
    color: #fca26e;
    text-decoration: #ccdcdd underline;
}
.conditionalNav{
    position: relative;
    left: 10%;
}
.navIcon{
    position: relative;
    margin-left: 85%;
    margin-top: 10%;
    cursor: pointer;
}
.Icon{

    position:relative;
    top:7px;
    font-size:40px;
    color:#1f4034;
    margin-right:20px;
}
.Icon:hover{
   color: #f5751d;
}
.IconX{
    color: #ccdcdd;
}
.IconX:hover{
    color: #fca26e;
}
.IconTwo{
position: relative;
    top:0.4em;
    font-size:40px;
    color:#fca26e;
    margin-right:20px;


}
.logo{
    width: 6em;


}

@keyframes openSidebar {
    0%{
        opacity: 0;
        transform: translateX(-100%);

    }

    100%{
        opacity: 1;
        transform: translateX(0);

    }
}
@keyframes closeSidebar {
    0% {
        opacity: 0;
        transform: translateX(-100%);

    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@media only screen and (min-width: 350px){
    .navIcon{
        margin-left: 55%;
    }
    .items-sidebar{
        font-size: 1em;
        margin-left:8% ;
    }
    .sidebarWrapper{
        width: 50%;
    }
}
@media only screen and (min-width:700px){

    .navIcon{
        margin-left:75%;
    }
    .items-sidebar{
        font-size: 1.1em;
        margin-right: 10%;

    }
    .sidebarWrapper{
        width: 40%;
    }

}
@media only screen and (min-width: 1200px){
.navIcon{
    font-size: 1.1em;
}

}

