.items-sidebar{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-flow: column wrap;
    font-family: Lato;
    font-size: 1.4rem;
    position: absolute;
    z-index: 1;
    margin-left: 30%;

}
.item-sidebar{
    flex: 0 0 auto;
    text-decoration: none;
    color: #1f4034;
    padding: 0.3em;
}

.item-sidebar:hover{
    color: #f5751d;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    text-decoration: black;
    border-bottom:1px solid #1f4034 ;
}
.conditionalNav{
    position: relative;
    left: 10%;
}
.navIcon{
    position: relative;
    margin-left: 85%;
    margin-top: 10%;
    cursor: pointer;
}
@media only screen and (min-width: 350px){
    .navIcon{
        margin-left: 55%;
    }
    .items-sidebar{
        font-size: 1em;
        margin-left:8% ;
    }
}
@media only screen and (min-width:700px){
    .navIcon{
        margin-left:65%;
    }
    .items-sidebar{
        font-size: 1.1em;
        margin-left: 25%;

    }
}
@media only screen and (min-width: 1200px){
.navIcon{
    font-size: 1.1em;
}

}

