.footer{
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right:0;

}
.element{
    font-family: Lato;
    color: #1f4034;
}

@media only screen and (min-width: 350px) and (max-width: 700px){
    .element{
        font-size:0.8em ;
    }
}
@media only screen and (min-width:700px) and (max-width: 1200px){
    .element{
        font-size: 1.1em;
    }
}
@media only screen and (min-width: 1201px){
    .element{
        font-size: 1.1em;
    }

}