.Button{
    text-decoration: none;
    font-family: Lato;
    font-size: 25px;
    margin-left: 2em;
    color:#21283B;
    border-radius: 25px;
    border: 2px solid #1f4034;
    padding: 5px;
    background-color: #c3ced4;

}
.Button2{
    text-decoration: none;
    font-family: Lato;
    font-size: 25px;
    margin-left: 2em;
    color:#efefef;
    border-radius: 25px;
    border: 2px solid #c4bfbf;
    padding: 5px;
    transition: ease 0.5s;

}
.Button2:hover{
    background-color: #c3ced4;
    color: #21283B;
}
.Icon{
    position:relative;
    top:6px;
    color:#21283B;
}
@media only screen and (min-width: 300px) and (max-width: 350px){
    .Button, .Button2{
        font-size:0.8em;
        margin-left: 1.8em;
    }
    .Icon{
        top: 3px;
    }
}
@media only screen and (min-width: 350px) and (max-width: 700px){
    .Button, .Button2{
        font-size:0.9em;
        margin-left: 1.8em;
    }
    .Icon{
        top: 3px;
    }
}
@media only screen and (min-width:700px) and (max-width: 1200px){
.Icon{
    top: 4px;
}
}
@media only screen and (min-width: 1201px){


}
