.section{
    height: 100vh;
}
.information {
    font-size: 1.2em;
    font-family: Lato;
    font-weight: lighter;
    color:#64817d;
    padding: 1.5em;


}
.textInt{
    text-align: center;
    font-size: 1.5em;
    font-family: Lato;
    font-weight: lighter;
    color:#64817d;
    padding: 1.5em;
}
.images:hover{
    opacity: 1;
    transform: scale(1.05);
}
.images {
    width: 250px;
    height: auto;
    border-radius: 10px;
    transform: scale(1.15);
    transition: transform 0.7s, opacity0.5s;
}
.footerImage{
    width: 100px;
    position: absolute;
    left: 92%;
    bottom: 5%;
}
.footerImage2{
    width: 100px;
    position: absolute;
    right: 92%;
    bottom: 5%;
}
@media only screen and (min-width: 350px) and (max-width: 700px){
    .images{
        width: 180px;

    }
}
@media only screen and (min-width:700px) and (max-width: 1020px){
    .images{
        width:200px;
    }
}
