
.section{
    height: 100vh;
}
.information {
    font-size: 1.2em;
    font-family: Lato;
    font-weight: lighter;
    color:#64817d;
    padding: 1em;


}
.subDescription{
    text-transform: uppercase;
    font-size: 2em;
    font-weight: lighter;
    padding-top: 0.7em;
    color: #21283B;
    font-family: Viga;
    text-align: center;
    text-shadow: 1px 1px #a0bcbf;
}
.textInt{
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: lighter;
    color: #4e6471;
    font-family: Viga;
    text-align: center;
    text-shadow: 1px 1px #1f4034;
    padding: 1.5em;
}
.images:hover{
    opacity: 1;
    /*transform: scale(1.05);*/
}
.images {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    /*transform: scale(1.15);*/
    /*transition: transform 0.7s, opacity0.5s;*/
}
.footerImage{
    width: 100px;
    position: absolute;
    left: 92%;
    bottom: 5%;
}
.footerImage2{
    width: 100px;
    position: absolute;
    right: 92%;
    bottom: 5%;
}
@media only screen and (min-width: 350px) and (max-width: 700px){
    .images{
        width: 180px;

    }
}
@media only screen and (min-width:700px) and (max-width: 1020px){
    .images{
        width:200px;
    }
}
