.header{
    z-index: 1;
    position: relative;
    min-height: 100vh;
}

.container{
    margin: 0 auto;
    position: absolute;
    top: 65%;

    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media only screen and (min-width: 300px) and (max-width: 350px){
    .header{

        height: 100vh;
        background-size: cover;
        background-position:center;
        padding: 25px 0;
    }
}
@media only screen and (min-width: 350px) and (max-width: 700px){
    .header{

        height: 100vh;
        background-size: cover;
        background-position:center;
        padding: 25px 0;
    }
}
@media only screen and (min-width:700px) and (max-width: 1200px){
    .header{
        height: 100vh;
        background-size: cover;
        background-position: center;
        padding: 25px 0;
    }
    .container{

        top: 60%;

    }
}

@media only screen and (min-width: 1201px){
    .header{

        height: 100vh;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

    }

}
