@import url('https://fonts.googleapis.com/css?family=Viga');
.subtitle{
    font-size: 1.5em;
    padding-top: 0.7em;

}
.label{
font-family: Lato;
    font-size: 1.2em;
    color: #1f4034;
    font-weight: lighter;
    padding: 1em 0;


}

.form{
    display: flex ;
    flex-flow: column wrap;
    width: 50%;
    justify-content: center;
    border-radius: 20px;
    margin: 0 auto;
    padding: 1em 0;

}
.input[type=text], .input[type=email], .select, .textArea{
    font-family: Lato;
    font-size: 1em;
    border:none;
    border-bottom: 2px solid rgba(0,0,0,0.4);
    padding: 1em 0;
    outline: none;



}
.input:focus, .select:focus, .textArea{
    border-bottom: 2px solid rgba(0,0,0,1);
}

.button{
    font-size: 1em;
    display: inline-block;
    padding: 1em;
    border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, #21283B 40%, #ebf1ff 60%);
    background-image: -webkit-linear-gradient(45deg, #21283B 0%, #a0bcbf 100%);
    transition: .4s;
    width: 50%;
    align-self: center;
    margin-top: 2em;
    font-family: Viga;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border: none;
}
.button:hover{
    background-image: -webkit-linear-gradient(45deg, #c3ced4 20%, #ebf1ff 80%);
    background-image: linear-gradient(45deg, #1f4034 0%, #21283B 100%);
}
.disabled{
    background-image: linear-gradient(45deg, #f5f5f5 40%, #c4bfbf 60%);
    background-image: -webkit-linear-gradient(45deg, #f3f3f3 0%, #efefef 100%);
    cursor: not-allowed;
    color: #b8b8b8;
    text-shadow: 1px 1px #21283B;
}
.disabled:hover{
    background-image: linear-gradient(45deg, #f5f5f5 40%, #c4bfbf 60%);
    background-image: -webkit-linear-gradient(45deg, #f3f3f3 0%, #efefef 100%);

}
.icon{
    color: #21283B;
    position: relative;
    top: 3px;
}

@media only screen and (min-width: 300px) and (max-width: 700px){
    .button{
        width: 10em;
        font-size: 0.7em;
    }
    .form{
        width: 90%;
    }
    .subtitle{
        font-size: 1.2em;
    }
}
@media only screen and (min-width:700px) and (max-width: 1020px){

    .button{
        width:15em;
        font-size: 0.9em;
    }
}
@media only screen and (min-width: 1020px) and (max-width: 1025px) {

}