@import url('https://fonts.googleapis.com/css?family=Viga');
.introductionText{
    padding: 0.5em;
    font-size: 1.2em;
    font-family: Lato;
    font-weight: lighter;
    color:#21283B;
    letter-spacing: 1px;

}
.introductionContainer{
    margin: 1.2em auto;
    width: 70%;

}
.information, .VideoInformation{
    letter-spacing: 1px;
    font-size: 1.2em;
    font-family: Lato;
    font-weight: lighter;
    color:#21283B;
    text-justify: inter-word;
    margin-bottom: 0;
    margin-top: 0.8em;
}
.icons{
    text-align: center;
    font-size: 4em;
    color: #21283B;
    margin-top: 0.5em;

}
.subtitle, .videoTitle{
    margin-right:1.5em;
    color: #1f4034;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: lighter;
    padding-top: 0.7em;
}
.videoWrapper{
    width: 50%;
    margin: 2em auto;
}
.videoTitle{
    text-align: center;
    font-size: 1.6em;
    color: #21283b;
}
.VideoInformation{
    font-size: 1.5em;
    text-align: center;


}
.videoTextWrapper{
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 300px) and (max-width: 350px){
    .videoWrapper{
        width: 100%;
    }
    .VideoInformation{
        font-size: 1em;
    }
    .videoTitle{
        font-size: 1.2em;
        margin-top: 1.4em;
    }
    .introductionContainer{
       text-align: center;
        width: 100%;

    }
}
@media only screen and (min-width: 350px) and (max-width: 700px){
    .videoWrapper{
        width: 100%;
    }
    .VideoInformation{
        font-size: 1.1em;
    }
    .videoTitle{
        font-size: 1.2em;
        margin-top: 1.4em;

    }
    .introductionContainer{
        margin: 1.2em auto;
        width: 90%;


    }
}
@media only screen and (min-width:700px) and (max-width: 1024px){
.videoWrapper{
    width: 70%;
}
}
