@import url('https://fonts.googleapis.com/css?family=Viga');
.introductionText{
    padding: 0.5em;
    font-size: 1.2em;
    font-family: Lato;
    font-weight: lighter;
    color:#64817d;
}
.introductionContainer{
    margin: 0 auto;
    width: 70%;

}
.information{

    font-size: 1.2em;
    font-family: Lato;
    font-weight: lighter;
    color:#64817d;
    text-justify: inter-word;
    margin-bottom: 0;
    margin-top: 0.8em;
}
.icons{
    text-align: center;
    font-size: 4em;
    color: #21283B;
    margin-top: 0.5em;

}
.subtitle{
    margin-right:1.5em;
    color: #1f4034;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: lighter;
    padding-top: 0.7em;
}
.videoWrapper{
    width: 50%;
    margin: 2em auto;
}
@media only screen and (min-width: 350px) and (max-width: 700px){
    .videoWrapper{
        width: 100%;
    }
}
@media only screen and (min-width:700px) and (max-width: 1024px){
.videoWrapper{
    width: 70%;
}
}
@media only screen and (min-width: 1025px) and (max-width: 1025px) {

}