.introductionParagraph{
    padding: 1em;
    font-size: 1.2em;
    font-family: Lato;
    font-weight: lighter;
    color:#64817d;
    text-align: center;
    width: 65%;
    margin: 0 auto;
}
.lineSeparator{
    height:5px;
    width: 50%;
    background: #f5751d;
    margin: 2em auto;
    border-radius: 1px;
    align-items: center;
}
@media only screen and (min-width: 350px) and (max-width: 700px){
    .introductionParagraph{
        font-size:1em ;
        padding: 0.5em;
        width: 85%;

    }
}
@media only screen and (min-width:700px) and (max-width: 1020px){
    .title{
        font-size: 3.1em;
        padding: 1em 0;
    }
}
@media only screen and (min-width: 1020px) and (max-width: 1025px) {
    .title {
        font-size: 4em;
        padding: 1em 0;
    }
}