.title{
    font-family: "Lato";
    margin-top: 10%;
    color: #1f4034;
    text-shadow: 2px 2px #b8b8b8;
    font-size: 4em;
    margin-left: 0.5em;
    font-weight: lighter;
    text-transform: uppercase;
    padding-bottom: 0.5em;
;
}